<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    {% block content %}{% endblock %}
    <hr>

    {% if LINK_INSTAGRAM %}
    <p><a href="{{ LINK_INSTAGRAM }}">Instagram</a></p>
    {% endif %}
    {% if LINK_X %}
    <p><a href="{{ LINK_X }}">X (Twitter lmfao)</a></p>
    {% endif %}
    {% if LINK_FACEBOOK %}
    <p><a href="{{ LINK_FACEBOOK }}">Facebook</a></p>
    {% endif %}

</body>
</html>